 <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="uk.mondosports.plugins.fyber" version="0.1.1">
    <name>Fyber</name>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <description>Fyber Phonegap Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,fyber,ads,offerwall</keywords>
    <js-module src="www/fyber.js" name="Fyber">
        <clobbers target="window.plugins.fyber" />
    </js-module>

    <platform name="android">
        <framework src="com.google.android.gms:play-services-ads:+" />
        <framework src="android/fyber.gradle" custom="true" type="gradleReference" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Fyber">
                <param name="android-package" value="uk.mondosports.plugins.fyber.FyberPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.fyber.ads.ofw.OfferWallActivity" android:configChanges="orientation|screenSize" />
            <activity android:configChanges="screenSize|orientation" android:name="com.fyber.ads.videos.RewardedVideoActivity" android:hardwareAccelerated="true"/>
            <activity android:name="com.fyber.ads.interstitials.InterstitialActivity" android:configChanges="screenSize|orientation" android:theme="@android:style/Theme.Translucent" />
        </config-file>

        <source-file src="android/FyberPlugin.java" target-dir="src/uk/mondosports/plugins/fyber" />
        <source-file src="android/fyber-sdk-8.0.1.jar" target-dir="libs/" />
        <source-file src="android/fyber-annotations-1.0.0.jar" target-dir="libs/" />
        <source-file src="android/fyber-annotations-compiler-1.0.1.jar" target-dir="libs/" />
        <source-file src="android/fyber-chartboost-6.0.2-r1.jar" target-dir="libs/" />
        <source-file src="android/guava-18.0.jar" target-dir="libs/" />
        <source-file src="android/javapoet-1.1.0.jar" target-dir="libs/" />
        <source-file src="android/javassist-3.18.2-GA.jar" target-dir="libs/" />
        <source-file src="android/reflections-0.9.10.jar" target-dir="libs/" />
    </platform>
</plugin>